:root {
  --header-height: 70px;
  --netflix-red-color: rgb(214, 28, 28);
  --default-margin: 2px;
  --btn-font-size: 16px;
  --btn-height: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.2s;
}

.header {
  width: 100%;
  height: var(--header-height);
  background: black;
  position: fixed;
  z-index: 2;
}

.logo {
  width: 150px;
  position: absolute;
  left: 20px;
  top: 12px;
}

.return-to-main-page {
  position: absolute;
  right: 30px;
  top: 20px;
  color: white;
  background: var(--netflix-red-color);
  text-decoration: none;
  width: 120px;
  height: var(--btn-height);
  text-align: center;
  line-height: var(--btn-height);
  font-size: var(--btn-font-size);
}

body {
  background: black;
  display: flex;
  justify-content: center;
}

.formular {
  /*  width: 50%;*/
  width: 360px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .formular {
    width: 90%;
  }
}

.input-field {
  height: 40px;
  background: black;
  color: white;
  border: 1px solid white;
  margin: var(--default-margin);
}

.btn {
  height: var(--btn-height);
  color: white;
  background: var(--netflix-red-color);
  margin: var(--default-margin);
  font-size: var(--btn-font-size);
  text-align: center;
  line-height: var(--btn-height);
  text-decoration: none;
}
